.box {
  position: relative;
  width: 360px;
  height: 360px;
  left: calc(50% - 180px);
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
  margin-top: 2rem;
}

.box::before {
  content: "";
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #c2e1ff, #4169e1);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.box:hover::before {
  inset: -20px 0;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background-image: url(../../assets/b.jpeg);
  border-radius: 50%;
  z-index: 1;
}

.about__me-image {
  position: absolute;
  inset: 30px;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 3;
  overflow: hidden;
}

.about__me-image .img_avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all linear 0.4s;
  pointer-events: none;
}

.about__me-image .img_kg {
  opacity: 0;
  height: 58vh;
}

.box:hover .about__me-image .img_avatar {
  opacity: 0;
}

.box:hover .about__me-image .img_kg {
  opacity: 1;
  transform: scale(1.1);
}

header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* CTA */
.cta {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* Header Socials */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials a:hover {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* me */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 300px;
  height: 300px;
  position: absolute;
  left: calc(50% - 150px);
  margin-top: 3rem;
  /* border-radius: 12rem 12rem 0 0; */
  border-radius: 50%;
  overflow: hidden;
  /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}

/* scroll down */

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  /* transform: rotate(90deg); */
  /* font-weight: 800; */
  font-size: 1rem;
}

/* media queries - tablet/medium devices */
@media screen and (max-width: 1024px) {
  /* header {
        height: 65vh
    } */
}

/* media queries - phone/small devices */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .scroll__down {
    display: none;
  }
}
